.tagcolor
{
    color: white !important;
}
.NavBarColor
{
    background-color: #0a4275;
}

.logoHeader img{
    width: 125px;
}

.LogoutBtn{
    /* background-color: red !important; */
}
.logoheight{
    height: 20px;
}

.dropclass{
    display: none;
}

.dropclass:hover{
    visibility:hidden;
}